<section class="about">
    <div class="about-landing">
        <video> <!--autoplay muted loop-->
            <source src="assets/video/team.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="about-landing__caption">
            <div>
                We want to be your home inspection team!
                <br/>
                <br/>
                <button mat-raised-button color="primary">200% Guarantee</button>
            </div>
        </div>
    </div>
</section>