@import 'include-media';
@import 'src/variables.scss';

section {
    color: white
}

.about-landing {
    position: relative;

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        filter: brightness(40%);
    }
}

.about-landing__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    text-align: center;
    color: white;
    height: 50vh;

    div{
        font-weight: bold;
        font-size: xx-large;
        margin-top: 50px;
        padding: 0 20px;

        button {
            color: rgb(198, 88, 33);
            font-size: large;
            font-weight: bold;
            padding: 1.5rem 3rem;
        }
    }
}

.about-body {
    padding: 40px 40px 0;
    margin: auto;
    max-width: 1200px;

    h1 {
        font-size: 2.5rem;
        margin: 0;
        text-align: left;

        span {
            color: $primary;
        }
    }

    button {
        color: rgb(198, 88, 33);
        font-size: large;
        font-weight: bold;
        padding: 1.5rem 3rem;
    }
}

.about-body__schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
    
    small,
    h1 {
        text-align: center !important;
    }

    button {
        margin-top: 30px;
    }
}

.about-body__owners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 80px;

    img {
        border: 4px solid white;
        border-radius: 30px;
        min-width: 300px;
        max-width: 500px;
    }
}

.about-body__owners--description {
    max-width: 600px;
    text-align: left;

    h2 {
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        strong {
            color: $primary;
        }

        span {
            font-size: smaller;
        }
    }
}

.about-team-landing {
    position: relative;
    height: 250px;

    video {
        width: 100%;
        height: inherit;
        position: absolute;
        object-fit: cover;
        filter: brightness(40%);
    }
}

.about-team-landing__caption{
    position: relative;
    text-align: center;
    color: white;
    top: 100px;

    div{
        font-weight: bold;
        font-size: xx-large;
    }
}

.about-body__team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
}

.about-body__team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        color: white;
        margin-bottom: 10px;
    }

    img {
        width: 300px;
        border: 4px solid white;
        border-radius: 30px;
    }
}

@include media('<desktop') {
    .about-landing__caption,
    .about-team-landing__caption { 
        gap: 2rem;
        padding: 2rem 2rem;

        div {
            font-size: x-large;
        }

        img {
            width: 7rem;
        }
    }

    .about-body {
        h1 {
            font-size: 1.7rem;
            margin: 0;
            text-align: left;
        }
    }

    .about-body__schedule {
        margin: 50px 0;
        button {
            font-size: smaller;
        }
    }
}

@include media('<tablet') {
    .about-landing__caption,
    .about-team-landing__caption {
        padding: 2rem 1rem;
        text-align: left;

        div {
            font-size: larger;
            button {
                padding: 1.5rem 1rem;
            }
        }

        img {
            display: none;
        }
    }

    .about-body {
        padding: 15px 15px 0;
    }

    .about-team-landing {
        video {
            height: 150px;
        }
    }

    .about-team-landing__caption {
        top: 50px;

        div {
            text-align: center;
        }
    }
}