<section class="footer">
    <div class="footer__contact">
        <div class="footer__contact-info">
            <h2>Contact Us!</h2>
            <ul>
                <li><mat-icon>phone</mat-icon>(210) 367-2945</li>
                <li><mat-icon>email</mat-icon>info@yourtimehomeinspections.com</li>
                <li><mat-icon>star</mat-icon>TREC#21507 Inspector James Williams</li>
            </ul>
        </div>
        <img src="assets/logo.png" alt="logo">
        <!-- <button mat-raised-button color="primary">Schedule Inspection</button> -->
    </div>
    <!-- <div class="footer__socials">
        <img src="../../../assets/icons/facebook.png" alt="">
        <img src="../../../assets/icons/youtube.png" alt="">
        <img src="../../../assets/icons/google.png" alt="">
        <img src="../../../assets/icons/instagram.png" alt="">
        <img src="../../../assets/icons/linkedin.png" alt="">
    </div> -->
    <div class="footer__copyright">
        © 2022 Copyright: Your Time Home Inspections
        <br />
        <small>Website By: <span>Chubby Designs</span></small>
    </div>
</section>