<section class="navbar">
    <div class="navbar-sub-nav">
        <div class="navbar-sub-nav__icons" *ngFor="let sub of subNav" >
            <mat-icon>{{sub.icon}}</mat-icon> <span>{{sub.info}}</span>
        </div>
    </div>
    <img src="assets/logo.png" alt="logo">
    <div class="navbar-main-nav-button">
        <button mat-fab color="primary" (click)="showNav = true">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div
        class="navbar-main-nav-menu"
        *ngIf="showNav == true || showNav == false"
        [ngClass]="{'slide-in': showNav == true, 'slide-out': showNav == false}">
        <div class="navbar-main-nav-menu__close" (click)="showNav = false; hide()">
            <mat-icon>close</mat-icon>
        </div>
        <div class="navbar-main-nav-menu__nav-links">
            <div *ngFor="let navLink of navLinks" class="navbar-main-nav-menu__nav-links-link">
                {{navLink.name}}
            </div>
        </div>
    </div>
    <div 
        class="navbar-main-nav-dropback"
        *ngIf="showNav == true || showNav == false"
        [ngClass]="{'fade-in': showNav == true, 'fade-out': showNav == false}"
        (click)="showNav = false; hide()">
    </div>
</section>