@import 'include-media';
$primary: #ffC11a;
$accent: #01579b;

.navbar-sub-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    gap: 0.8em;
    height: 50px;
    width: 100vw;
    background-color: $primary;

    mat-icon {
        flex-wrap: wrap;
        color: white;
        padding: 5px;
    }

    span {
        font-size: small;
        font-weight: bold;
    }
}

.navbar-sub-nav__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-main-nav-button {
    position: fixed;
    right: 0;
    top: 4rem;
    padding: 0 30px;
    z-index: 1;

    button {
        mat-icon {
            transition-duration: 0.5s;
            transition-property: transform;
        }
    }

    button:hover {
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

.navbar-main-nav-menu {
    position: fixed;
    right: 0;
    width: 30%;
    background-color: $accent;
    padding-bottom: 45px;
    border-bottom-left-radius: 15px;
    z-index: 3;
}

.navbar-main-nav-menu__close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: black;
    background-color: $primary;
    border-bottom-right-radius: 15px;
    
    mat-icon {
        transition-duration: 0.5s;
        transition-property: transform;
    }
}

.navbar-main-nav-menu__close:hover {
    cursor: pointer;
    mat-icon {
        transform: rotate(360deg);
    }
}

.navbar-main-nav-menu__nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.navbar-main-nav-menu__nav-links-link {
    font-size: x-large;
    color: white;
    text-transform: uppercase;
    transition: 0.1s;
}

.navbar-main-nav-menu__nav-links-link:hover {
    color: $primary;
    cursor: pointer;
}

.navbar-main-nav-dropback {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.slide-in {
    animation: slideInRight 0.3s forwards;
}

.slide-out {
    animation: slideOutRight 1s forwards;
}

.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

@keyframes slideInRight {
    0% {
      transform: translateX(calc(100vw - 5px));
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(100vw - 5px));
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.5; }
}

@keyframes fadeOut {
    0% { opacity: 0.5; }
    100% { opacity: 0; }
}

// @keyframes tilt-n-move-shaking {
//     0% { transform: translate(0, 0) rotate(0deg); }
//     25% { transform: translate(5px, 5px) rotate(5deg); }
//     50% { transform: translate(0, 0) rotate(0eg); }
//     75% { transform: translate(-5px, 5px) rotate(-5deg); }
//     100% { transform: translate(0, 0) rotate(0deg); }
// }

@include media('<desktop') {
    .navbar-sub-nav {
        span {
            font-size: x-small;
        }
    }

    .navbar-main-nav-menu__nav-links-link {
        font-size: large;
    }
}

@include media('<tablet') {
    .navbar-sub-nav {
        display: none;
    }

    .navbar-main-nav-menu {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .slide-out {
        animation: slideOutRight 0.3s forwards;
    }
}