@import 'include-media';

.sub-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    height: 50px;
    width: 100vw;
    background-color: #f7a12a;

    mat-icon {
        flex-wrap: wrap;
        color: #ffffff;
        padding: 5px;
    }

    span {
        font-size: small;
        font-weight: bold;
    }
}

.sub-nav__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: right;
    width: 100vw;
    background: white;
}

.main-nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-links__link {
    text-align: center;
    font-size: large;
    padding: 1rem 0.2rem;
    width: 8em;
}

.main-nav-links__link:hover {
    cursor: pointer;
    background: #f7a12a;
    color: #ffffff;
}

.main-nav__logo {
    padding: 0.8em;
}

@include media('<desktop') {
    .sub-nav {
        span {
            font-size: x-small;
        }
    }

    .main-nav-links__link {
        font-size: smaller;
    }
}

@include media('<tablet') {
    .sub-nav {
        display: none;
    }
}