<section>
    <div class="sub-nav">
        <div class="sub-nav__icons" *ngFor="let sub of subNav" >
            <mat-icon>{{sub.icon}}</mat-icon> <span>{{sub.info}}</span>
        </div>
    </div>
    <!-- <div class="main-nav">
        <img class="main-nav__logo" src="assets/logo.png" alt="logo">
        <div class="main-nav__links">
            <div class="main-nav-links__link" *ngFor="let link of navLinks">
                {{link.name}}
            </div>
        </div>
    </div> -->
</section>