<section class="home">
    <div class="home-landing">
        <video> <!--autoplay muted loop-->
            <source src="assets/video/inspecting.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="home-landing__caption">
            <div>
                Don't risk your family's financial future and safety.
                <br/>
                Get your property inspected by a PRO.
                <br/>
                <br/>
                <button mat-raised-button color="primary">Schedule Inspection</button>
            </div>
        </div>
    </div>
    <div class="home-body">
        <h1>The Right Choice.</h1>
        <h1>Home Inspector in <span>San Antonio, TX</span></h1>
        <p>
            Buying or selling a home is a monumental endeavor. Your Time Home Inspections in San Antonio will provide you with the professional and courteous inspection you deserve during this complex transaction. Reports are delivered within 24 hrs. Award-winning customer service. Competitive pricing. James Williams of Your Time Home Inspections is the home inspector to call for your home inspection needs. Call or book your home inspection online today!
        </p>
        <div class="home-body__cards">
            <div *ngFor="let card of cards" class="home-body__cards-card">
                <mat-icon>{{card.icon}}</mat-icon>
                <br/>
                <strong>{{card.title}}</strong>
                {{card.text}}
            </div>
        </div>
        <div class="home-body__tips">
            <div class="home-body__tips-one">
                <h1>Residential Purchase</h1>
                <img src="assets/clipart/house.svg" alt="house-image">
                <p>
                    Have confidence in your asking price with a pre-listing inspection and avoid costly delays. A report you can rely on.
                </p>
            </div>
            <div class="home-body__tips-two">
                <h1>Pre-Listing Inspection</h1>
                <img src="assets/clipart/glass.png" alt="glass-image">
                <p>
                    Have a better understanding of the condition of your property with our residential home inspection. Buy with confidence!
                </p>
            </div>
            <div class="home-body__tips-three">
                <h1>Investment Property</h1>
                <img src="assets/clipart/clipboard.png" alt="clipboard-image">
                <p>
                    Expand your portfolio with confidence using our investment property inspections. Quick & Reliable.
                </p>
            </div>
            <div class="home-body__tips-four">
                <button mat-raised-button color="primary">200% Guarantee</button>
                <img src="assets/employees/kalen-transparent.png" alt="">
                <span>
                    "Call us and we can tell you MORE!"
                    <br/>
                    <small>(210) 367-2945</small>
                </span>
            </div>
        </div>
    </div>
    <div class="home__nachi">
        <div class="home__nachi-wrapper">
            <img src="assets/logo.png" alt="logo">
            <div class="home__nachi-list">
                <h3>Inspected Once, Inspected Right®</h3>
                <h1>InterNACHI Trained & Certified</h1>
                <ul>
                    <li *ngFor="let info of certifiedList">
                        {{info}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="home-body">
        <div class="home-body__testimonials">
            <div class="home-body__testimonials-header">
                <span>what people say about us</span>
                <h2>Client Testimonials</h2>
            </div>
            <div class="home-body__testimonials-text">
                <div>
                    <span [ngClass]="{'fade-in': fade == true}">
                        {{testimonial}}
                    </span>
                </div>
            </div>
        </div>
        <!-- <button mat-raised-button color="accent" (click)="previousTestimonial()">LEFT</button>
        <button mat-raised-button color="accent" (click)="nextTestimonial()">RIGHT</button> -->
    </div>
</section>