<section class="home">
    <div class="home__landing">
        <video> <!--autoplay muted loop-->
            <source src="assets/video/inspecting.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="home__caption">
            <div>
                Don't risk your family's financial future and safety.
                <br/>
                Get your property inspected by a PRO.
                <br/>
                <br/>
                <button mat-raised-button color="primary">Schedule An Appointment</button>
            </div>
            <img src="assets/logo.png" alt="logo">
        </div>
    </div>
</section>