@import 'include-media';
$primary: #ffC11a;
$accent: #01579b;

section {
    color: white;
}

.home-landing {
    position: relative;
    width: 100vw;

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        filter: brightness(40%);
    }
}

.home-landing__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;

    div{
        font-weight: bold;
        font-size: xx-large;
        padding: 0 20px;
        // text-align: left;
        button {
            color: rgb(198, 88, 33);
            font-size: large;
            font-weight: bold;
            padding: 1.5rem 3rem;
        }
    }
}

.home-body {
    padding: 40px 80px 0;
    margin: auto;
    max-width: 1200px;

    h1 {
        font-size: 2.5rem;
        margin: 0;
        text-align: left;

        span {
            color: $primary;
        }
    }
}

.home-body__cards {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-body__cards-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: black;
    width: 300px;
    height: 300px;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
    box-shadow: black 10px 10px 5px;

    mat-icon {
        color: $accent;
        transform: scale(3);
    }

    strong {
        font-size: x-large;
    }
}

.home-body__tips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 185px;
    padding: 50px 0 0;
}

.home-body__tips-one {
    position: relative;
    flex: 50%;

    h1 {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:before {
            display: inline-block;
            content: '';
            height: 50px;
            width: 10px;
            background-color: $primary;
        }
    }

    img {
        position: absolute;
        top: -20px;
        left: -70px;
        width: 450px;
        opacity: 0.3;
        filter: grayscale(1);
        z-index: -1;
    }

    p {
        text-align: center;
        max-width: 400px;
    }
}

.home-body__tips-two {
    position: relative;
    flex: 50%;

    h1 {
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 10px;

        &:after {
            display: inline-block;
            content: '';
            height: 50px;
            width: 10px;
            background-color: $primary;
        }
    }

    img {
        position: absolute;
        top: -50px;
        left: -30px;
        width: 400px;
        opacity: 0.3;
        filter: grayscale(1);
        z-index: -1;
    }

    p {
        text-align: center;
        max-width: 400px;
        margin-left: auto;
    }
}

.home-body__tips-three {
    position: relative;
    flex: 50%;

    h1 {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 10px;

        &:before {
            display: inline-block;
            content: '';
            height: 50px;
            width: 10px;
            background-color: $primary;
        }
    }

    img {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 500px;
        opacity: 0.3;
        filter: grayscale(1);
        z-index: -1;
    }

    p {
        text-align: left;
        max-width: 400px;
    }
}

.home-body__tips-four {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 50%;

    button {
        position: absolute;
        top: 15%;
        left: -90px;
        color: rgb(198, 88, 33);
        font-size: large;
        font-weight: bold;
        padding: 1.5rem 3rem;
    }

    img {
        max-width: 400px;
    }

    span {
        position: absolute;
        padding: 10px;
        top: -40px;
        right: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.336);
        border-radius: 15px;

        small {
            color: $primary;
        }
    }
}

.home__nachi {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: rgb(187, 187, 187);
}

.home__nachi-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    max-width: 1600px;
    margin: auto;
    padding: 50px 0;


    img {
        max-width: 400px;
    }

    h3 {
        margin: 0;
    }

    h1 {
        font-size: xx-large;
        color: black;
        margin: 0;
    }

    ul {
        padding: 40px;
        border-radius: 20px;
        background-color: $accent;
        list-style-type: none;

        li:before {
            color: $primary;
            content: '✓';
        }
    }
}

.home-body__testimonials {
    gap: 20px;
    text-align: center;
    padding: 20px;
    padding: 250px 0;
}

@include media('<desktop') {
    .home__caption { 
        gap: 2rem;
        padding: 2rem 2rem;

        div {
            font-size: x-large;
        }

        img {
            width: 7rem;
        }
    }
}

@include media('<tablet') {
    .home__caption {
        padding: 2rem 1rem;
        text-align: left;

        div {
            font-size: large;
            button {
                padding: 1.5rem 1rem;
            }
        }

        img {
            display: none;
        }
    }
}