<section class="about">
    <div class="about-landing">
        <video autoplay [muted]="true" loop playsinline>
            <source src="assets/video/team.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="about-landing__caption">
            <div>
                We Want To Be Your Home Inspection Team!
                <br/>
                <br/>
                <button mat-raised-button color="primary" (click)="openGuarantee()">200% Guarantee</button>
            </div>
        </div>
    </div>
    <div class="about-body">
        <h1>The Right Choice.</h1>
        <h1>Home Inspector in <span>San Antonio, TX</span></h1>
        <p>
            Buying or selling a home is a monumental endeavor. Your Time Home Inspections in San Antonio will provide you with the professional and courteous inspection you deserve during this complex transaction. Reports are delivered within 24 hrs. Award-winning customer service. Competitive pricing. James Williams of Your Time Home Inspections is the home inspector to call for your home inspection needs. Call or book your home inspection online today!
        </p>
        <div class="about-body__schedule">
            <small>on your time!</small>
            <h1>Schedule Inspections <span>24hrs</span> A Day Online</h1>
            <button mat-raised-button color="primary">Schedule Inspection</button>
        </div>
        <div class="about-body__owners">
            <div class="about-body__owners--description">
                <span>Our Owners</span>
                <h2>James & Elvia Williams</h2>
                <p>
                    <strong>Our Promise To You</strong>
                    <br/>
                    <span>
                        Choosing the right home inspector can be difficult. Different inspectors have varying qualifications, equipment, experience, reporting methods, and pricing. One thing that’s certain is that a home inspection requires a lot of work. Ultimately, a thorough inspection depends heavily on the individual inspector’s effort. If you honor us with your trust to inspect your new home, we guarantee that we will give you a very best effort. This is our promise to you.
                    </span>
                </p>
                <p>
                    <strong>Giving Back</strong>
                    <br/>
                    <span>
                        We believe that true success is about more than growing a Home Inspection business; we devote time each year to charitable causes that benefit diverse populations. From helping the homeless to sponsoring charities that help families adopt children, Your Time Home Inspections is committed to improving the town we call home.
                    </span>
                </p>
            </div>
            <img src="assets/yourtimeowners.jpeg" alt="owners">
        </div>
    </div>
    <div class="about-team-landing">
        <video autoplay [muted]="true" loop playsinline>
            <source src="assets/video/call.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="about-team-landing__caption">
            <div>
                Our Team
            </div>
        </div>
        <span class="about-team-landing__caption-small">
            Our Team
        </span>
    </div>
    <div class="about-body">
        <div class="about-body__team">
            <div class="about-body__team-member" *ngFor="let employee of supportTeam">
                <span style="padding-bottom: 10px;">
                    {{employee.displayName}}
                </span>
                <img src="../../../assets/employees/{{employee.name}}.jpg" alt="employee">
            </div>
        </div>
        <h2>Your Inspectors</h2>
        <div class="about-body__team" style="padding-bottom: 30px;">
            <div class="about-body__team-member" *ngFor="let employee of inspectors">
                <span>
                    {{employee.displayName}}
                </span>
                <span>
                    TREC #{{employee.trec}}
                </span>
                <img src="../../../assets/employees/{{employee.name}}.jpg" alt="employee">
            </div>
        </div>
        <certifications></certifications>
    </div>
</section>